In [31]:
import pandas as pd
from pathlib import Path

In [32]:
csvpath = Path("budget_data.csv")

In [33]:
data_csv = pd.read_csv(csvpath)
data_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [34]:
data_csv["Profit/Losses"].count()

86

In [35]:
Total_Months= data_csv["Profit/Losses"].count()
Total_Months

86

In [36]:
data_csv["Profit/Losses"].sum()

38382578

In [37]:
NetPnL = data_csv["Profit/Losses"].sum()

In [38]:
data_csv["Profit/Losses"].mean()

446309.0465116279

In [39]:
data_csv["Profit/Losses"].sum()
data_csv['pnl_changes']=data_csv["Profit/Losses"]- data_csv["Profit/Losses"].shift()
data_csv

        Date  Profit/Losses  pnl_changes
0   Jan-2010         867884          NaN
1   Feb-2010         984655     116771.0
2   Mar-2010         322013    -662642.0
3   Apr-2010         -69417    -391430.0
4   May-2010         310503     379920.0
..       ...            ...          ...
81  Oct-2016         102685    -665765.0
82  Nov-2016         795914     693229.0
83  Dec-2016          60988    -734926.0
84  Jan-2017         138230      77242.0
85  Feb-2017         671099     532869.0

[86 rows x 3 columns]

In [40]:
Mean_PL= data_csv["pnl_changes"].mean()
Mean_PL

-2315.1176470588234

In [41]:
max_difference= data_csv["pnl_changes"].max()
max_difference

1926159.0

In [56]:
max_date= data_csv.loc[data_csv["pnl_changes"] == data_csv["pnl_changes"].max(),'Date']
max_date

25    Feb-2012
Name: Date, dtype: object

In [57]:
min_difference= data_csv["pnl_changes"].min()
min_difference

-2196167.0

In [58]:
min_date= data_csv.loc[data_csv["pnl_changes"] == data_csv["pnl_changes"].min(),'Date']
min_date

44    Sep-2013
Name: Date, dtype: object

In [59]:
print('Financial Analysis')
print('-----------------')
print(f'Total Months: {Total_Months}')
print(f'Total Profits: ${NetPnL}')
print(f'Average Change: ${Mean_PL}')
print(f'Greatest Increase in Profits: Feb-2012 $({max_difference})')
print(f'Greatest Decrease in Profits: Sep-2013 $({min_difference})')

Financial Analysis
-----------------
Total Months: 86
Total Profits: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012 $(1926159.0)
Greatest Decrease in Profits: Sep-2013 $(-2196167.0)

In [60]:
output_path = Path('output.csv')

In [61]:
with open('financial_analysis.txt', 'w') as text:
    text.write("----------------------------------------------------------\n")
    text.write("  Financial Analysis"+ "\n")
    text.write("----------------------------------------------------------\n\n")
    text.write("    Total Months: " + str(Total_Months) + "\n")
    text.write("    Total Profits: " + "$" + str(NetPnL) +"\n")
    text.write("    Average Change: " + '$' + str(int(Mean_PL)) + "\n")
    text.write("    Greatest Increase in Profits: " + str(max_date) + " ($" + str(max_difference) + ")\n")
    text.write("    Greatest Decrease in Profits: " + str(min_date) + " ($" + str(min_difference) + ")\n")
    text.write("----------------------------------------------------------\n")